.mainWrapper{
    background-color: teal;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.mainWrapper img{
    width: 80%;
    display: inline-block;
    outline: solid;
}

@media (max-width: 480px){
    .mainWrapper{
        width: 200px;
    }
}